/*Tamaño de elementos con selector universal*/
* {
    box-sizing: border-box;
}

/*Contenedor*/
#contenedor{
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
}

/*Google fonts*/
.fontTitulo{
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}


/*Estilos de la cabecera*/
header{
    background-color: rgba(2, 6, 34, 0.726);
}
header h1{
    padding: 1em;
    text-align: center;
    margin: 0;
    color: aliceblue;
}
/*Estilos del navegador*/

nav ul{
    margin: 0;
    padding: 0;
    background-color: rgba(7, 25, 39, 0.945);
}
nav li{
    display: inline-block;
    margin-right: 1rem;
    padding-left: 1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
nav a{
    display: block;
    padding: 1rem;
    color: white;
    text-decoration: none;
    text-align: center;
}
/*Estilos e interactividad del navegador*/
nav a:hover {
    background-color: rgba(11, 82, 100, 0.815);
}
nav a:active {
    background-color: rgb(15, 9, 49);
}

 
/*Imágen de fondo y fondo del main*/
body{
    margin: 0;
    padding: 0;

  background-image: url("../img/fondo.png");
}
main {
    padding: 4rem;
    background-color: rgb(238, 245, 252);
}


/*Estilos e interactividad del pie de página*/
footer{
    background-color: rgba(7, 25, 39, 0.945);
    padding: 3rem;
}
address{
    color: aliceblue;
}
/*Link de contacto*/
address a:link {
    color: rgb(55, 86, 172);
}
address a:visited{
    color: rgb(91, 102, 196);
}
address a:hover {
    background-color: rgb(23, 29, 90);
}
address a:active {
    background-color: rgb(51, 57, 129);
}

.video{
    margin-top: 4rem;
    text-align: center;
}

p, li{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2, h3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 1rem;
}

/*Para la imágen con la cita*/
.imgCita{
    text-align: center;
    margin: 2rem;
}

/*Para las imagenes una al lado de la otra
Nota: código realizado con asistencia de la IA*/
.imagenes{
    display: flex; /*pone elementos en fila*/
    justify-content: center; /*controla cómo se acomodan los elementos en el eje horizontal*/
    gap: 20px; /*agrega espacio entre los hijitos del flex.*/
}
